body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: grey;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
form{
    background: rgba(214,214,214);
    padding: 30px;
    text-align: center;
    border-radius: 15px;
    width: 350px;
}
form input{
    display: block;
    background: none;
    margin: 18px auto;
    padding: 8px;
    text-align: center;
    border: 2px solid #4090db;
    outline: none;
    width: 180px;
    font-size: 22px;
    border-radius: 10px;
}
form input[type ="submit"]{
    font-size: 16px;
    cursor: pointer;
    font-weight: 800;
    background: #4090db;
    color: white;
}
p{
    color: red;
    font-size: 22px;
    font-weight: 600;
}